In [1]:
import pandas as pd
import os
txt_folder = 'txt_files'
csv_folder = 'csv_files'
sep = '\^B'

df_applicant_19 = pd.read_csv(f'{csv_folder}/applicant_19.csv', encoding='utf-8')
df_applicant_20 = pd.read_csv(f'{csv_folder}/applicant_20.csv', encoding='utf-8')

df_applicant = pd.concat([df_applicant_19, df_applicant_20])

df_agent_19 = pd.read_csv(f'{csv_folder}/agent_19.csv', encoding='utf-8')
df_agent_20 = pd.read_csv(f'{csv_folder}/agent_20.csv', encoding='utf-8')

df_agent = pd.concat([df_agent_19, df_agent_20])

# df_applicant.set_index('출원번호', inplace=True)
# df_agent.set_index('출원번호', inplace=True)

In [2]:
df_applicant.head(10)

,출원번호,일련번호,시도국적코드,시도국적코드명,출원인코드,출원인명,출원인영문명,출원인우편번호,출원인주소
0,4020190000001,1,16,대한민국,419980563989,홍석기,"HONG, Seok Gi",62011,"광주광역시 서구 화개중앙로**번길 **, ***동 ****호 (매월동, 아델리움＆로..."
1,4020190000002,1,07,대한민국,420100340398,오준호,Oh jun ho,54025,전라북도 군산시 거석길 *-* (명산동)
2,4020190000003,1,01,대한민국,420140380945,이예지,LEE Yea Jee,02853,서울특별시 성북구 보문로**길 ** (안암동*가)
3,4020190000004,1,01,대한민국,420190000011,김정후,"KIM, Jeong Hoo",07680,서울특별시 강서구 강서로 ***-* (내발산동)
4,4020190000005,1,07,대한민국,420010200141,이형철,"LEE, HYUNG CHUL",54552,"전라북도 익산시 무왕로**길 **, ***동 ***호 (어양동, 동도미소드림아파트)"
5,4020190000006,1,01,대한민국,420160678154,정미라,"JUNG, Mi Ra",14747,"경기도 부천시 마니로 **, 라동 ***호 (심곡본동, 대진빌라)"
6,4020190000009,1,17,대한민국,419990624023,박노근,"PARK, NO-GEUN",34070,"대전광역시 유성구 지족북로**, ***동 ****호 (지족동, 노은꿈에그린*단지)"
7,4020190000010,1,03,대한민국,420000504199,신호균,SIN HO GYUN,12740,경기 광주시 송정동 *** (*/) 브라운스톤 광주아파트 ***-***
8,4020190000011,1,03,대한민국,420180809884,김현호,kimHyunHo,13617,"경기도 성남시 분당구 미금로 ***, ***동 ***호 (금곡동, 청솔마을)"
9,4020190000014,1,01,대한민국,420170567892,이혜원,"LEE, Hye Won",05575,"서울특별시 송파구 백제고분로**길 *-** , ***호(잠실동)"

In [3]:
df_agent.head(10)

,출원번호,일련번호,시도국적코드,시도국적코드명,대리인코드,대리인명,대리인영문명,대리인우편번호,대리인주소
0,4020190000010,1,KR,대한민국,920191000210,특허법인해안,HAEAN PATENT & LAW FIRM,06135,"서울특별시 강남구 언주로***길 **(역삼동. 더나무앤 빌딩), *층"
1,4020190000030,1,01,대한민국,920020003145,서동원,Seo Dong Won,06242,"서울특별시 강남구 강남대로 ***, 혜천빌딩***호 굿모닝국제특허법률사무소 (역삼동)"
2,4020190000031,1,01,대한민국,919990005039,박원용,Park Won Yong,06251,"서울특별시 강남구 역삼로 ***, ***호 (역삼동, 하나빌딩)(테크빌국제특허법률사무소)"
3,4020190000032,1,01,대한민국,920020003145,서동원,Seo Dong Won,06242,"서울특별시 강남구 강남대로 ***, 혜천빌딩***호 굿모닝국제특허법률사무소 (역삼동)"
4,4020190000033,1,KR,대한민국,920150009821,구공호,Koo Kong Ho,51408,경상남도 창원시 의창구 원이대로 *** (대원동) 트레이드센터(신한은행건물) ***...
5,4020190000035,1,01,대한민국,920020003145,서동원,Seo Dong Won,06242,"서울특별시 강남구 강남대로 ***, 혜천빌딩***호 굿모닝국제특허법률사무소 (역삼동)"
6,4020190000037,1,01,대한민국,920020003145,서동원,Seo Dong Won,06242,"서울특별시 강남구 강남대로 ***, 혜천빌딩***호 굿모닝국제특허법률사무소 (역삼동)"
7,4020190000038,1,01,대한민국,920050008260,배철우,BAE CHEOL WOO,08389,"서울특별시 구로구 디지털로**길 **, ****호(구로동, 마리오타워)(에이원국제특..."
8,4020190000039,1,01,대한민국,920050008260,배철우,BAE CHEOL WOO,08389,"서울특별시 구로구 디지털로**길 **, ****호(구로동, 마리오타워)(에이원국제특..."
9,4020190000040,1,KR,대한민국,920110007590,이재만,LEE JAE MAN,08390,서울특별시 구로구 디지털로 **길 *** JnK 디지털타워 *층 ***호(동진국제특...

In [4]:
df_applicant['출원인코드'] = df_applicant['출원인코드'].map(str)

df_agent['대리인코드'] = df_agent['대리인코드'].map(str)

In [5]:
df_applicant_merged = df_applicant.groupby('출원번호').agg({
    '출원인코드': ' '.join
})
df_agent_merged = df_agent.groupby('출원번호').agg({
    '대리인코드': ' '.join
})
# del df_temp_applicant
display(df_applicant_merged.head(10))
display(df_agent_merged.head(10))

                      출원인코드
출원번호
4020190000001  419980563989
4020190000002  420100340398
4020190000003  420140380945
4020190000004  420190000011
4020190000005  420010200141
4020190000006  420160678154
4020190000009  419990624023
4020190000010  420000504199
4020190000011  420180809884
4020190000014  420170567892

                      대리인코드
출원번호
4020190000010  920191000210
4020190000030  920020003145
4020190000031  919990005039
4020190000032  920020003145
4020190000033  920150009821
4020190000035  920020003145
4020190000037  920020003145
4020190000038  920050008260
4020190000039  920050008260
4020190000040  920110007590

In [6]:
df_19_merged = pd.read_csv(f'{csv_folder}/19년도_병합.csv', encoding='utf-8', low_memory=False)
df_20_merged = pd.read_csv(f'{csv_folder}/20년도_병합.csv', encoding='utf-8', low_memory=False)

display(df_19_merged.head())

            출원번호               지정상품한글명   류          유사군
0  4020190000001                가공된 생선  29        G0803
1  4020190000001                 건제어패류  29        G0803
2  4020190000001  건제어패류를 주성분으로 하는 건강식품  29  G0803 G1009
3  4020190000001                  냉동생선  29        G0801
4  4020190000001                  멸치액젓  29        G0801

In [7]:
df_19_merged['출원인코드'] = df_19_merged['출원번호'].apply(lambda x: df_applicant_merged.loc[x]['출원인코드'] if x in df_applicant_merged.index else 0)
df_19_merged['대리인코드'] = df_19_merged['출원번호'].apply(lambda x: df_agent_merged.loc[x]['대리인코드'] if x in df_agent_merged.index else 0)

df_19_merged.to_csv(f'{csv_folder}/19년도_병합_출원인대리인코드.csv', index=False, encoding='utf-8')

In [8]:
df_20_merged['출원인코드'] = df_20_merged['출원번호'].apply(lambda x: df_applicant_merged.loc[x]['출원인코드'] if x in df_applicant_merged.index else 0)
df_20_merged['대리인코드'] = df_20_merged['출원번호'].apply(lambda x: df_agent_merged.loc[x]['대리인코드'] if x in df_agent_merged.index else 0)

df_20_merged.to_csv(f'{csv_folder}/20년도_병합_출원인대리인코드.csv', index=False, encoding='utf-8')